<h1>******** Welcome to the longest word-game!********</h1>
<h2>"Here is your grid:"</h2>
<p><%= @letters %></p>

<h2>What's your best shot?</h2>
<form action="/result" method="get">
  <input type="text" name="word" placeholder="Enter your word">
  <input type="submit" class="btn btn-primary">
  <input type="hidden" name="grid" value="<%= @grid %>">
  <input type="hidden" name="start_time" value="<%= Time.now %>">
</form>
